.outer {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 700px;
  height: 400px;
  margin: auto;
  padding: 2rem;
}
h1 {
  text-align: center;
  padding: 2rem;
}
.question {
  font-weight: bold;
  font-size: large;
  padding: auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.next,
.submit {
  margin-top: 3rem;
  width: 7rem;
}
.submit {
  background-color: red;
  border: none;
}

.textbox {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
}
.options label,
input {
  padding: 0.5rem;
}
